<!DOCTYPE html>
<html>
  <head>
    <title>Bulk Insert Purchase Orders</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}" />
  </head>
  <body>
    <h1>Bulk Insert Purchase Orders</h1>
    <form id="purchaseOrderForm" enctype="multipart/form-data">
      <label for="date">Date:</label>
      <input type="date" id="date" name="date" required /><br /><br />

      <label for="vendorName">Vendor Name:</label>
      <input
        type="text"
        id="vendorName"
        name="vendorName"
        required /><br /><br />

      <label for="csvFile">CSV File:</label>
      <input
        type="file"
        id="csvFile"
        name="csvFile"
        accept=".csv"
        required /><br /><br />

      <input type="submit" value="Submit" />
    </form>

    <div id="response"></div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
